body {
	font-family: 'Indie Flower', cursive;
	color: blue;
	/*background-image: url("../images/music-background.png");*/
	background-repeat: no-repeat;	
	background-position: center;
	background-size: 100% 150%;
}
h1, h2, p {
	text-align: center;
	line-height: 2.5;
	font-weight: bold;
}
h1 {
	font-weight: bolder;
	font-size: 50px;
}
h2 {
	font-weight: bolder;
	font-size: 40px;
}
p {
	font-size: 20px;
}